.auth-container {
    width: 300px;
    margin: 0 auto;
}

.auth-msn {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.auth-msn p {
    font-size: 16px;
}

.auth-msn button {
    border: none;
    background: none;
    color: #ad00ff;
    font-size: 16px;
    cursor: pointer;
}